.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  transition: width 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it's above other content */
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.sidebar.collapsed {
  width: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar a.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.sidebar .toggleButton {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align to the left */
  width: 100%;
}

.sidebar .toggleButton:focus {
  outline: none;
}

.sidebar .logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar .logo img {
  width: 80%;
  max-width: 150px; /* Adjust as needed */
  height: auto;
}

.collapsedText {
  display: none;
}

.sidebar.collapsed .collapsedText {
  display: none;
}

.sidebar.collapsed .logo {
  text-align: center;
}

.sidebar.collapsed .logo img {
  max-width: 40px; /* Adjust as needed */
}

.sidebar.collapsed a span {
  display: none;
}

.sidebar a span {
  margin-left: 10px;
}

.sidebar.collapsed .toggleButton span {
  display: none;
}

.sidebar .menuItem {
  display: flex;
  align-items: center;
}

.sidebar .menuItem svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.sidebar.collapsed .menuItem svg {
  margin-right: 0;
  margin: 0 auto;
  display: block;
}

.sidebar.collapsed .menuItem {
  justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Below the sidebar but above other content */
}

.hidden {
    display: none;
}